//Roboto font

.roboto{
  font-family: 'Roboto';

}

// Bold Roboto font

.robotobold{
  font-family: 'Roboto';
  font-weight: bolder;

}

//Justification

.flex{
  display: flex;
  justify-content: space-between;

}




.logosize {
  width: 60px;
  height: 60px;
}