

<ion-header>
  <ion-toolbar>
    <ion-icon size="large" name="menu-outline"></ion-icon>
    <div class="ion-text-center">
    <ion-title> TESTS</ion-title>
  </div>

  <ion-buttons slot="star">
    <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cardsize" color="secondary">
    <div class="flex">
  <h1> DAILY FEEDING </h1>


  <ion-img class='sizeimage':src="./assets/Food.png"></ion-img>

</div>
      

     
 <ion-button href="/test/dailyfeeding" shape="round" color="medium">
   <ion-icon slot="end" name="play-circle-outline"></ion-icon>

   BEGIN

 </ion-button>

<br>
<br>

<ion-text>
  <h3> Find out what profile you have by testing your food consumption habits...</h3>
  </ion-text>


  </ion-card>






  <ion-card class="cardsize" color="medium">
    <div class="flex">
  <h1> MOBILITY </h1>


  <ion-img class='sizeimage':src="./assets/Mobility.png"></ion-img>

  

</div>
      

     
 <ion-button href="/test/mobility" shape="round" color="tertiary" >
   <ion-icon slot="end" name="play-circle-outline"></ion-icon>

   BEGIN

 </ion-button>

<br>
<br>

<ion-text>
  <h3> Find out what profile you have by testing your mobility ..</h3>
  </ion-text>


  </ion-card>



  <ion-card class="cardsize" color="tertiary">
    <div class="flex">
  <h1> ACCOMODATION </h1>



  <ion-img class='sizeimage':src="./assets/Accomodation.png"></ion-img>

</div>
      

     
 <ion-button href="/test/accomodation" shape="round" color="medium" >
   <ion-icon slot="end" name="play-circle-outline"></ion-icon>

   BEGIN

 </ion-button>

<br>
<br>

<ion-text>
  <h3> Find out what profile you have by testing your accomodation...</h3>
  </ion-text>


  </ion-card>


</ion-content>

