
<ion-header>
  <ion-toolbar>
    <ion-icon size="large" name="menu-outline"></ion-icon>
    <div class="ion-text-center">
    <ion-title>MY PERSONAL ACCOUNT </ion-title>
  </div>

  <ion-buttons slot="star">
    <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cardsize" color="tertiary">
    <div class="flex">
  <ion-img class='logosize':src="./assets/car.png"></ion-img>

  <ion-row class="ion-justify-content-center">  

  <h2 class="lato" > MOBILITY TEST </h2>
  </ion-row>

</div>

<ion-col>

  <ion-row class="ion-justify-content-center">   
    
 <ion-button href="/result-mobility-page" class="lato" shape="round" color="medium" > See Result </ion-button>

 </ion-row>
 <br>
 <ion-row class="ion-justify-content-center">

  <ion-button href="/advice-feed-page" class="lato" shape="round" color="medium" > Advices </ion-button>

 </ion-row>

 </ion-col>
 
  </ion-card>
  <ion-card>


  <div class="flex">

  <h3 class="latobold"> Personal information</h3>
  <ion-img class='logosize':src="./assets/profile.png"></ion-img>
</div>



<ion-text> Jack</ion-text>
<br>
<ion-text> jack.martin@gmail.com </ion-text>
<br>
<ion-text> Change password </ion-text>
<br>
<ion-text> Deconnexion </ion-text>

<div class="ion-text-start">


<h3 class="latobold"> About Us </h3>

</div>

<ion-text> Privacy </ion-text>
<br>
<ion-text> Contact</ion-text>
</ion-card>

<br>

<div class="ion-text-center">
  
  <ion-button href="/tests" shape="round" color="medium">
    <ion-img class='arrowlogo':src="./assets/back.png"></ion-img>
    Access to tests 
    
  </ion-button>

  </div>


</ion-content>
