<ion-content>

  <ion-row class="ion-justify-content-center">   

    <ion-img class='logo' :src="./assets/green.png"></ion-img>
    </ion-row>

<ion-row class="ion-justify-content-center">   
<ion-card class="minicard" color="light" shape="round">

    <ion-row class="ion-justify-content-center">   

<ion-img class='image' :src="./assets/Username.png"></ion-img>
  </ion-row>

    <ion-row class="ion-justify-content-center">   
<ion-card color="secondary" class="cardsize">
  <ion-label></ion-label>
  <ion-input> Username : </ion-input>
</ion-card>
    </ion-row>


<ion-row class="ion-justify-content-center">   

  <ion-img class='image' :src="./assets/Mail.png"></ion-img>
    </ion-row>

    <ion-row class="ion-justify-content-center">   
<ion-card color="tertiary" class="cardsize">
  <ion-input> Email : </ion-input>
</ion-card>
    </ion-row>
    
  
<ion-row class="ion-justify-content-center">   

  <ion-img class='image' :src="./assets/Password.png"></ion-img>
    </ion-row>

    <ion-row class="ion-justify-content-center">   
      <ion-card color="medium" class="cardsize">
        <ion-input> Password : </ion-input>
      </ion-card>
          </ion-row>
          <br>

          <ion-row class="ion-justify-content-center">  
          <ion-button href="/tests"  size="default" fill="outline" color="success">SIGN UP </ion-button>
          </ion-row>



</ion-card>
</ion-row>


</ion-content>
