<ion-content>

  <ion-row class="ion-justify-content-center">   

    <ion-img class='logo' :src="./assets/green.png"></ion-img>
    </ion-row>

<ion-row class="ion-justify-content-center">   
<ion-card class="minicard" color="light" shape="round">

  <div *ngIf="!connected">

    <ion-row class="ion-justify-content-center">   

<ion-img class='image' :src="./assets/Username.png"></ion-img>
  </ion-row>

    <ion-row class="ion-justify-content-center">   
<ion-card color="secondary" class="cardsize">
  <ion-label></ion-label>
  <ion-input> Username : </ion-input>
</ion-card>
    </ion-row>


<ion-row class="ion-justify-content-center">   

  <ion-img class='image' :src="./assets/Mail.png"></ion-img>
    </ion-row>

    <ion-row class="ion-justify-content-center">   
<ion-card color="tertiary" class="cardsize">
  <ion-item>

    <ion-label> Email: </ion-label>
     <ion-input type="email"[(ngModel)]="dataUser.email"> </ion-input>
   
     </ion-item>
</ion-card>



    </ion-row>
    
  
<ion-row class="ion-justify-content-center">   

  <ion-img class='image' :src="./assets/Password.png"></ion-img>
    </ion-row>

    <ion-row class="ion-justify-content-center">   
      <ion-card color="medium" class="cardsize">
        <ion-item>

          <ion-label>Password : </ion-label>
    <ion-input type="password" [(ngModel)]="dataUser.password"> </ion-input>
         
           </ion-item>

      </ion-card>
          </ion-row>
          <br>

          <ion-row class="ion-justify-content-center">  
          <ion-button (click)="signUp()" size="default" fill="outline" color="success">SIGN UP </ion-button>

          </ion-row>


</div>
</ion-card>
</ion-row>

<div *ngIf="connected">
  <div class="ion-text-center"> 
    <ion-text class="roboto">
      <h1>Welcome in Green Position Tests </h1>
    </ion-text>

<br>
<ion-button href="/tests"> Click to start the tests </ion-button>
<br>
<br> <br> <br> 

<ion-button (click)="logout()" size="default" fill="outline" color="danger">DECONNEXION</ion-button>

</div>
</div>

</ion-content>
