//Log in Page background color
ion-content {
    --ion-background-color: #C8DDC0;
    
    }

    // Username and password images

    .image{
        width: 46px;
        height: 50px;
    }

    // Size of cards


    .cardsize{

        width: 200px;
        height: 45px;

    }
    .minicard{

        width: 295px;
     

    }


    //Roboto font


.roboto{
    font-family: 'Roboto';
  
  
  }

