<ion-content>

  <ion-row class="ion-justify-content-center">   

    <ion-img class='logo' :src="./assets/green.png"></ion-img>
    </ion-row>
  <br>

    <ion-row class="ion-justify-content-center">   
      <ion-card color="primary" class="cardsize">
        <div class="ion-text-center">
        <ion-text color="success"> 
          <h2 class="roboto" color="success">MY ACCOUNT</h2>
          </ion-text>
        </div>
        <br>
        <br>
     
  
      </ion-card>
          </ion-row>

<ion-row class="ion-justify-content-center">   
<ion-card class="minicard" color="light" shape="round">

    <ion-row class="ion-justify-content-center">   

<ion-img class='image' :src="./assets/Username.png"></ion-img>
  </ion-row>

    <ion-row class="ion-justify-content-center">   
<ion-card color="secondary" class="cardsize">
  <ion-input> Username : </ion-input>
</ion-card>
    </ion-row>
    
  
<ion-row class="ion-justify-content-center">   

  <ion-img class='image' :src="./assets/Password.png"></ion-img>
    </ion-row>

    <ion-row class="ion-justify-content-center">   
      <ion-card color="medium" class="cardsize">
        <ion-input> Password : </ion-input>
      </ion-card>
          </ion-row>
          <br>
          <br>

          <ion-row class="ion-justify-content-center">  
          <ion-button href="/tests" size="default" fill="outline" color="success">LOG IN </ion-button>
          </ion-row>

          <br>
          <br>



</ion-card>
</ion-row>


</ion-content>

