.lato{
    font-family: 'Lato';
  
  }

  .latobold{
    font-family: 'Lato';
    font-weight: bold;
  
  }


  .flex{
    display: flex;
    justify-content: space-between;
  
  }


  .taillelogo {
    width: 60px;
    height: 60px;
  }


  .taillecard {
    height: 200px;
    margin: 20px

}

ion-content {
    --ion-background-color: #EFFCF4;
    
    }