<ion-content>

  <col>
  <div class="ion-text-center">

    <h1 class="robotobold" style="color:black"> Accomodation</h1>
        <h2 class="roboto" style="color:black"> Advices</h2>

    
        <ion-item-divider>
        </ion-item-divider>

        <br>
        <br>

      </div>


        <ion-card class="taillecard" color="secondary">

          <div class="ion-text-center">
  
        <h1 class="latobold">Only heat the room you are in </h1>
        <h1 class="lato"> Heating represent 66% of of a household energy consumption so it's better not to overuse it</h1>
        </div>
      

</ion-card>      


<ion-card class="taillecard" color="secondary">

  <div class="ion-text-center">

<h1 class="latobold"> Do not leave your electronic devices on standby</h1>
<h1 class="lato"> you will economize on your electrical bill and you will consume less energy</h1>
</div>


</ion-card>      




</ion-content>
