<ion-content>

  <col>
  <div class="ion-text-center">

    <h1 class="robotobold"> Daily Feeding</h1>
        <h2 class="roboto"> Advices</h2>

    
        <ion-item-divider>
        </ion-item-divider>

        <br>
        <br>

      </div>


        <ion-card class="taillecard" color="secondary">

          <div class="ion-text-center">
  
        <h1 class="latobold"> Buy your food in bulk</h1>
        <h1 class="lato"> Reduce plastic waste</h1>
        </div>
      

</ion-card>      


<ion-card class="taillecard" color="secondary">

  <div class="ion-text-center">

<h1 class="latobold"> Pay attention to the expiration dates</h1>
<h1 class="lato"> Some products can be consumed after the expiration date</h1>
</div>


</ion-card>      




</ion-content>
