<ion-content>
  <col>
  <div class="ion-text-center">

    <ion-row>
      <ion-col size="6" offset="4">
        <ion-row class="flex" >
          <h2 class="roboto"> You chose </h2>
          <ion-img class='logosize':src="./assets/greenleave.png"></ion-img>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-self-center" >
      <ion-col size="8" offset="2">
        <ion-text class="ion-text-center">
          <h1 class="robotobold"> {{this.data.title}} </h1>
        </ion-text>
      </ion-col>
    </ion-row>
    

  <br>

</div>

  <div *ngFor="let question of this.data.questions">
    <h4 class="ion-text-center"> {{question.title}} </h4>
      <ion-list>
        <ion-item *ngFor="let answer of question.answers">
          <ion-label class="ion-text-center">{{answer.text}}</ion-label>
          <ion-checkbox slot="start" (ionChange)="checkboxClick($event, answer.points)" ></ion-checkbox>
        </ion-item>
      </ion-list>
    <br>
  </div>
    <ion-row class="ion-justify-content-center">   


      <ion-button  size="large" color="success" shape="round" (click)="createTask()" > Submit test </ion-button>

     </ion-row>

    <ion-item *ngFor="let item of items | async">
      <ion-label>{{ item.name }}</ion-label>
    </ion-item>
</ion-content>

