#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.header {
  background-color: #2196F3;
  height : 200 px;
  padding-top: 4px;

}

//HomePage background color
ion-content {
--ion-background-color: #C8DDC0;

}



//Justification between Social Networks logos

.flex{
  display: flex;
  justify-content: space-evenly;

}

//Font Roboto
.roboto{
  font-family: 'Roboto';


}



//Green Position logo dimensions

.size {
	width: 370px;
	height: 250px;

}

//Dimensions logo social networks

.logo {
	width: 40px;
	height: 40px;
}



