<ion-content >

        <ion-row class="ion-justify-content-center">   

<ion-img class='size' :src="./assets/green.png"></ion-img>
</ion-row>

        <ion-col>
                <div class="ion-text-center">
                        <ion-text color="success"> 
                        <h1 class="roboto" color="success">DISCOVER</h1>
                        </ion-text>
                
        
                <ion-text color="success"> 
                <h4 class="roboto" >What kind of citizen you are </h4>
                </ion-text>
        </div>

        </ion-col>
  

<ion-col>

        <ion-row class="ion-justify-content-center">   

         <ion-button href="/log" size="large" color="success" shape="round" >LOG IN </ion-button>

        </ion-row>

        <br>

        <ion-row class="ion-justify-content-center">  

        <ion-button  href="/sign" size="large" fill="outline" color="success" shape="round" expand="block">SIGN UP </ion-button>

        </ion-row>

        </ion-col>


        
<br>
<br>
      


        <div class="flex">

        <ion-img class='logo':src="./assets/Google.png"></ion-img>
        <ion-img class='logo' :src="./assets/facebook.png"></ion-img>
        <ion-img class='logo' :src="./assets/Twitter.png"></ion-img>
        

        </div>


</ion-content>




